:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #c5f5f5; /* matches the scene clear color */
}

a {
  color: red;
}

canvas {
  display: block;
}

.credits {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.55rem;
  color: var(--color-a);
}

.credits > span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: .5rem;
}

.author-links {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  z-index: 10;
}

.author-links a {
  color: #333;
  font-style: italic;
  text-decoration: underline;
  font-size: 0.75rem;
  font-family: 'Open Sans', sans-serif;
}
